*{
    box-sizing: border-box;
}
:root{
    --dark-red:#981a2c;
    --dark-green:#1c981c;

}
.container
{
    height: 200px;
    width: 200px;

    background-color:var(--dark-green);
    
}
.box{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: blue;
    /* --dark-red:#981a2c; */
    color: var(--dark-red);
}

